<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li <%if(active=="shouye"){%>class="active"<%}%>><a href="#">全部留言 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">我的留言本</a></li>
            </ul>
            <% if(!login){%>
            <ul class="nav navbar-nav navbar-right">
                <li <%if(active=="regist"){%>class="active"<%}%>><a class="<%=before%>" href="/reGist">注册</a></li>
                <li <%if(active=="login"){%>class="active"<%}%>><a class="<%=before%>" href="/login">登录</a></li>
            </ul>
            <%}else{%>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="<%=after%>">欢迎你:<%=username%></a></li>
                <li><a class="<%=after%>" href="/clear">退出</a></li>
            </ul>
            <%}%>
        </div>
    </div>
</nav>
